.wizard-container {
	color: $color-black;

	.card {
		// @include clearfix();
	}

	.card-front, .card-reverse {
		position: relative;
		margin: $font-size-base auto 0;
		width: $card-base-size * 3.5;
		height: $card-base-size * 2;
		border-radius: 6px;
		font-size: $card-font-size;
		border: 1px solid $color-white;
		
		@include box-sizing(border-box);
		padding: ($card-base-size * 0.05) ($card-base-size * 0.15);
		@include clearfix();
	}


	// Front
	.card-privilege,
	.card-identity,
	.card-signature,
	.card-membership {
		display: none;
	}

	.card-text-size-medium {
	font-size: $card-font-size;
	}

	.card-text-size-small {
		font-size: $card-font-size * .8125;
	}

	.card-text-size-large {
		font-size: $card-font-size * 1.275;
	}

	.card-text-bold {
		font-weight: 600;
	}

	.card-text-italic {
		font-style: italic;
	}

	.card-text-underline {
		text-decoration: underline;
	}

	.card-top-text {
		padding: ($card-base-size * 0.1) 0 0;
	}

	.card-middle-text {
		padding: ($card-base-size * 0.08) 0 0;
	}

	.card-bottom {
		@include box-sizing(border-box);
		// @include clearfix();
		padding: ($card-base-size * 0.24) 0 0;
	}

	.card-image {
		padding: ($card-base-size * 0.025) 0 0;
	}

	.card-image-placeholder {
		width: $card-base-size * 1.2;
		height: $card-base-size * .9;
		border: 1px solid $color-lightgray;
		background: rgba(255,255,255,.2);
	}


	// Reverse
	.card-reverse,
	.card-reverse-top-text,
	.card-reverse-middle-text,
	.card-reverse-bottom-text,
	.card-reverse-signature-1,
	.card-reverse-signature-2,
	.card-reverse-calendar {
		display: none;
	}

	.card-reverse-signature-1,
	.card-reverse-signature-2 {
		text-align: center;
	}

	.card-reverse-top-text {
		padding: ($card-base-size * 0.1) 0 0;
	}

	.card-reverse-middle-text {
		padding: ($card-base-size * 0.08) 0 0;
	}

	.card-reverse-bottom-text {
		padding: ($card-base-size * 0.08) 0 0;
	}

	// Front layouts
	.card-layout-1 {
		
		.card-image {
			float: left;
			width: 50%;
		}

		.card-bottom-text {
			margin-left: 50%;
		}
	}

	.card-layout-2 {

		.card-top-text {
			text-align: center;
		}

		.card-middle-text {
			text-align: center;
		}
		
		.card-image {
			float: left;
			width: 50%;
		}

		.card-bottom-text {
			margin-left: 50%;
		}
	}

	.card-layout-3 {

		.card-top-text {
			margin-left: 50%;
		}

		.card-middle-text {
			margin-left: 50%;
		}
		
		.card-image {
			float: left;
			width: 50%;
			> .card-image-placeholder {
				position: absolute;
				top: $card-base-size * .2;
				height: $card-base-size * 1.5;
			}
		}

		.card-bottom-text {
			margin-left: 50%;
		}
	}

	.card-layout-4 {

		.card-top-text,
		.card-middle-text,
		.card-bottom-text {
			text-align: center;
		}

		.card-image {
			display: none;
		}
	}

	.card-layout-5 {

		.card-top-text {
			margin-right: 50%;
		}

		.card-middle-text {
			margin-right: 50%;
		}
		
		.card-image {
			float: right;
			width: 50%;
			
			> .card-image-placeholder {
				position: absolute;
				top: $card-base-size * .2;
				left: 60%;
				height: $card-base-size * 1.5;
			}
		}

		.card-bottom-text {
			margin-right: 50%;
		}
	}

	.card-layout-6 {

		.card-top-text {
			text-align: right;
		}

		.card-middle-text {
			text-align: right;
		}
		
		.card-image {
			float: right;
			width: 50%;

			> .card-image-placeholder {
				position: absolute;
				left: 60%;
			}
		}

		.card-bottom-text {
			margin-right: 50%;
		}
	}

	.card-layout-7 {

		.card-top-text {
			text-align: left;
		}

		.card-middle-text {
			text-align: left;
		}
		
		.card-image {
			float: right;
			width: 50%;

			> .card-image-placeholder {
				position: absolute;
				left: 60%;
			}
		}

		.card-bottom-text {
			margin-right: 50%;
		}
	}

	.card-layout-8 {

		.card-top-text {
			text-align: center;
		}

		.card-middle-text {
			text-align: center;
		}
		
		.card-image {
			float: right;
			width: 50%;

			> .card-image-placeholder {
				position: absolute;
				left: 60%;
			}
		}

		.card-bottom-text {
			display: none;
		}

		.card-privilege {
			height: $card-base-size * .9;
			width: 50%;
			display: table-cell;
			vertical-align: bottom;
			text-transform: uppercase;
			margin-right: 50%;
			text-align: center;
		}
	}

	.card-layout-9 {

		.card-top-text {
			text-align: center;
		}

		.card-middle-text {
			text-align: center;
		}
		
		.card-image {
			float: left;
			width: 50%;
		}

		.card-bottom-text {
			display: none;
		}

		.card-signature {
			display: block;
			margin-left: 50%;
			text-align: center;
			padding-top: $card-base-size * .1;

			& > img {
				width: 100%;
			}
		}

		.card-membership {
			display: block;
			text-align: center;
			margin-left: 50%;
			padding-top: $card-base-size * .3;
		}
	}

	.card-layout-10 {

		.card-top-text {
			text-align: center;
		}

		.card-middle-text {
			text-align: center;
		}
		
		.card-image {
			float: left;
			width: 50%;
		}

		.card-bottom-text {
			display: none;
		}

		.card-identity {
			display: block;
			margin-left: 50%;
			text-align: center;
			text-transform: uppercase;
			padding-bottom: $card-base-size * .4;
		}

		.card-signature {
			display: block;
			margin-left: 50%;
			text-align: center;

			& > img {
				width: 100%;
			}
		}
	}

	// Reverse layouts 
	.card-reverse-layout-1 {}

	.card-reverse-layout-2 {
		
		.card-reverse-top-text,
		.card-reverse-middle-text,
		.card-reverse-bottom-text {
			display: block;
			text-align: center;
		}

		.card-reverse-middle-text {
			padding: ($card-base-size * 0.4) 0 0;
		}

		.card-reverse-bottom-text {
			padding: ($card-base-size * 0.75) 0 0;
		}
	}

	.card-reverse-layout-3 {
		
		.card-reverse-calendar {
			display: block;
			// margin: -7px 0 0 -10px;

			img {
				width: 100%;
			}
		}
	}

	.card-reverse-layout-4 {

		.card-reverse-signature-1 {
			padding: $card-base-size * .8 0 0;
			display: block;
		}
	}

	.card-reverse-layout-5 {

		.card-reverse-signature-1 {
			display: block;
			padding: ($card-base-size * .55) 0 0;
		}

		.card-reverse-signature-2 {
			display: block;
			padding: ($card-base-size * .2) 0 0;
		}
	}

	.card-reverse-layout-6 {

		.card-reverse-top-text,
		.card-reverse-middle-text,
		.card-reverse-bottom-text {
			display: block;
			text-align: center;
		}

		.card-reverse-signature-1 {
			display: block;
			padding: ($card-base-size * .35) 0 ($card-base-size * .25);
		}
	}

	.card-reverse-layout-7 {

		.card-reverse-top-text,
		.card-reverse-middle-text,
		.card-reverse-bottom-text {
			display: block;
			text-align: center;
		}

		.card-reverse-signature-1 {
			display: block;
			padding: ($card-base-size * .14) 0 ($card-base-size * .07);
		}
		.card-reverse-signature-2 {
			display: block;
			padding: ($card-base-size * .14) 0 ($card-base-size * .07);
		}
	}

	// Controls
	.controls {
		@include box-sizing(border-box);
		padding: $font-size-base $font-size-base 0;

		.controls-color, .controls-print {
			@include content-columns(10);
		}

		.controls-current {
			font-size: $font-size-base * .8125;
			text-align: center;
			padding-bottom: $font-size-base / 1.5;
		}

		.controls-layout {
			@include content-columns(6);
		}

		.controls-wording {
			font-size: $font-size-base * .8125;

			textarea {
				vertical-align: middle;
				width: auto;
				max-width: auto;
				min-width: auto;
				height: auto;
				max-height: auto;
				background: none;
				padding: 0;
			}
		}

		.controls-wording-row {
			margin-bottom: $font-size-base * .25;
		}

		.controls-wording-column {
			display: inline-block;
			&:not(:first-child){
				margin-left: $font-size-base;
			}
		}

		.controls-reverse-layout {
			@include content-columns(7);
		}
	}



	.control {
		display: inline-block;

		&.control-color, &.control-print {
			width: $font-size-base * 3.5;
			height: $font-size-base * 2;
			border-radius: 5px;
			margin-bottom: 4px;
			border: 1px solid #fff;

			&.card-color-white {
				border: 1px solid $color-lightgray;
			}
			&.card-color-white.current {
				border: 1px solid $color-accent;
			}
		}
		

		&.control-layout, &.control-reverse-layout {
			border: 1px solid $color-lightgray;
			border-radius: 4px;
			width: $font-size-base * 2 * 3.5;
			height: $font-size-base * 2 * 2;

			text-indent: -3999px;
			margin-bottom: 16px;
			background-position: -1px -1px;

			&.layout-1 {
				background-image: url(../img/layout-1.png);
			}
			&.layout-4 {
				background-image: url(../img/layout-4.png);
			}
			&.layout-6 {
				background-image: url(../img/layout-6.png);
			}
			&.layout-8 {
				background-image: url(../img/layout-8.png);
			}
			&.layout-9 {
				background-image: url(../img/layout-9.png);
			}
			&.layout-10 {
				background-image: url(../img/layout-10.png);
			}
			&.reverse-layout-2 {
				background-image: url(../img/reverse-layout-2.png);
			}
			&.reverse-layout-3 {
				background-image: url(../img/reverse-layout-3.png);
			}
			&.reverse-layout-4 {
				background-image: url(../img/reverse-layout-4.png);
			}
			&.reverse-layout-5 {
				background-image: url(../img/reverse-layout-5.png);
			}
			&.reverse-layout-6 {
				background-image: url(../img/reverse-layout-6.png);
			}
			&.reverse-layout-7 {
				background-image: url(../img/reverse-layout-7.png);
			}
		}

		&.current {
			border-color: $color-accent;
		}
	}

	.control-font {
		color: inherit;
		height: auto;
		line-height: inherit;
		padding: 0;
		width: auto;
	}



	// Colors
	.card-color-white {
		border: 1px solid $color-lightgray;
		background: $color-white;
	}

	.card-color-grey {
		background: $color-grey;
	}

	.card-color-tan {
		background: $color-tan;
	}

	.card-color-yellow {
		background: $color-yellow;
	}

	.card-color-orange {
		background: $color-orange;
	}

	.card-color-red {
		background: $color-red;
	}

	.card-color-lightblue {
		background: $color-lightblue;
	}

	.card-color-blue {
		background: $color-blue;
	}

	.card-color-midblue {
		background: $color-midblue;
	}

	.card-color-royalblue {
		background: $color-royalblue;
	}

	.card-color-darkblue {
		background: $color-darkblue;
	}

	.card-color-purple {
		background: $color-purple;
	}

	.card-color-cranberry {
		background: $color-cranberry;
	}

	.card-color-burgundy {
		background: $color-burgundy;
	}

	.card-color-pink {
		background: $color-pink;
	}

	.card-color-transparent {
		@include double-diagonal-gradient($color-transparent-start, $color-transparent-end, $color-transparent-start);
	}

	.card-color-green {
		background: $color-green;
	}

	.card-color-lightgreen {
		background: $color-lightgreen;
	}

	.card-color-darkgreen {
		background: $color-darkgreen;
	}

	.card-color-glossblack {
		background: $color-glossblack;
	}

	.card-color-frosted {
		@include double-diagonal-gradient($color-frosted-start, $color-frosted-end, $color-frosted-start);
	}

	.card-color-magenta {
		background: $color-magenta;
	}

	.card-color-bronze {
		@include diagonal-gradient($color-bronze-start, $color-bronze-end);
	}

	.card-color-silver {
		@include diagonal-gradient($color-silver-start, $color-silver-end);
	}

	.card-color-gold {
		@include diagonal-gradient($color-gold-start, $color-gold-end);
	}

	.card-color-metallicmagenta {
		@include diagonal-gradient($color-magenta, $color-white);
	}

	.card-color-metalliccopper {
		@include diagonal-gradient($color-copper, $color-white);
	}

	.card-color-metallicsilver {
		@include diagonal-gradient($color-metallicsilver, $color-white);
	}

	.card-color-metallicgold {
		@include diagonal-gradient($color-metallicgold, $color-white);
	}

	.card-color-mattblack {
		background: $color-mattblack;
	}

	.card-color-black {
		background: $color-black;
	}

	.card-color-darkgray {
		background: $color-darkgray;
	}

	// Print
	.card-print-white {
		color: $color-white;
	}

	.card-print-orange {
		color: $color-orange;
	}

	.card-print-yellow {
		color: $color-yellow;
	}

	.card-print-red {
		color: $color-red;
	}

	.card-print-lightgreen {
		color: $color-lightgreen;
	}

	.card-print-lightblue {
		color: $color-lightblue;
	}

	.card-print-green {
		color: $color-green;
	}

	.card-print-midblue {
		color: $color-midblue;
	}

	.card-print-darkgreen {
		color: $color-darkgreen;
	}

	.card-print-royalblue {
		color: $color-royalblue;
	}

	.card-print-black {
		color: $color-black;
	}

	.card-print-darkblue {
		color: $color-darkblue;
	}

	.card-print-grey {
		color: $color-grey;
	}

	.card-print-purple {
		color: $color-purple;
	}

	.card-print-metallicmagenta {
		color: $color-magenta;
	}

	.card-print-red {
		color: $color-red;
	}

	.card-print-metalliccopper {
		color: $color-copper;
	}

	.card-print-burgundy {
		color: $color-burgundy;
	}

	.card-print-metallicsilver {
		color: $color-metallicsilver;
	}

	.card-print-pink {
		color: $color-pink;
	}

	.card-print-metallicgold {
		color: $color-metallicgold;
	}


	// Fonts
	.card-text-font-1 {
		font-family: $card-font-1;
	}

	.card-text-font-2 {
		font-family: $card-font-2;
	}

	.card-text-font-3 {
		font-family: $card-font-3;
	}

	.card-text-font-4 {
		font-family: $card-font-4;
	}

	// Link
	.card-link {
		display: none;
		height: $line-height-computed;
		padding-top: $font-size-base * .5;
		font-size: $font-size-base * .8125;
		text-align: center;
	}

	.card-link-hide,
	.card-link-input {
		display: none;
	}

	// Flipper
	.card-flipper {
		padding-top: $font-size-base;
		text-align: center;
	}
}