@mixin clearfix() {
  &:before,
  &:after {
    content: " ";
    display: table;
  }
  &:after {
    clear: both;
  }
}

@mixin box-sizing($boxmodel) {
  -webkit-box-sizing: $boxmodel;
     -moz-box-sizing: $boxmodel;
          box-sizing: $boxmodel;
}

@mixin content-columns($column-count, $column-gap: $controls-column-gap) {
  -webkit-column-count: $column-count;
     -moz-column-count: $column-count;
          column-count: $column-count;
  -webkit-column-gap: $column-gap;
     -moz-column-gap: $column-gap;
          column-gap: $column-gap;
}

@mixin diagonal-gradient($from, $to) {
  background: $to;
  background: -moz-linear-gradient(45deg, $from 0%, $to 100%);
  background: -webkit-gradient(linear, left bottom, right top, color-stop(0%,$from), color-stop(100%,$to));
  background: -webkit-linear-gradient(45deg, $from 0%, $to 100%);
  background: -o-linear-gradient(45deg, $from 0%, $to 100%);
  background: -ms-linear-gradient(45deg, $from 0%, $to 100%);
  background: linear-gradient(45deg, $from 0%, $to 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$from', endColorstr='$to',GradientType=1 );
}

@mixin double-diagonal-gradient($start, $center, $end) {
  background: $center;
  background: -moz-linear-gradient(45deg, $start 0%, $center 50%, $end 100%);
  background: -webkit-gradient(linear, left bottom, right top, color-stop(0%,$start), color-stop(50%,$center), color-stop(100%,$end));
  background: -webkit-linear-gradient(45deg, $start 0%, $center 50%, $end 100%);
  background: -o-linear-gradient(45deg, $start 0%, $center 50%, $end 100%);
  background: -ms-linear-gradient(45deg,  $start 0%, $center 50%, $end 100%);
  background: linear-gradient(45deg, $start 0%, $center 50%, $end 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$start', endColorstr='end',GradientType=1 );
}