.wizard-body {
	background: $color-white;

	#menu {
		margin-top: 0;
		z-index: 20;
	}

	#content {
		min-height: 435px;
		overflow: visible;
		@include clearfix();
	}
}

.wizard-container {
	width: $container-width;
	height: $container-height;
	background: $container-background;
	border: $container-border;
	font-family: $font-family-sans;
	font-size: $font-size-base;
	line-height: $line-height-base;
	padding-left: 52px;
	@include clearfix();

	a {
		&,
		&:active,
		&:hover,
		&:visited {
			display: inline-block;
			color: $color-accent;
			text-decoration: none;
		}
	}

	a.btn, input[type=submit] {
		border: 1px solid $color-accent;
		padding: ($font-size-base * .25) ($font-size-base * .75);
		border-radius: 3px;
		white-space: nowrap;
		font-size: $font-size-base;
		background-color: $color-white;
		color: $color-accent;

		&.large {
			font-size: $font-size-large;
			padding: ($font-size-large * .25) ($font-size-large * .75);
		}
	}

	label {
		display: inline-block;
		margin-right: $font-size-base * .5;
	}
	
	p > label {
		width: 43%;
		text-align: right;
	}

	h2, .h2 {
		font-size: $font-size-huge;
		color: $color-accent;
		text-align: center;
		margin: 0;
		padding-top: floor(($line-height-computed / 2));
		font-weight: 300;
	}

	.text-centered {
		text-align: center;
	}
}