// Base
$font-family-sans: "Helvetica Neue", Arial, sans-serif;
$font-family-serif: Georgia, "Times New Roman", serif;
$font-size-base: 16px;
$font-size-large: $font-size-base * 1.14;
$font-size-huge: $font-size-base * 1.61;
$line-height-base: 1.42;
$line-height-computed: floor(($font-size-base * $line-height-base));
$line-height-large-computed: floor(($font-size-large * $line-height-base));

// Branding and colors
$color-base: #333;
$color-gray: #999;
$color-lightgray: #d4d4d4;
$color-accent: #0d71ba;

$color-cream: #fefefe; //removed
$color-white: #fefefe;
$color-tan: #f4d8a0;
$color-lightyellow: #ffff9e; //removed
$color-yellow: #ffed00;
$color-orange: #ef7f18;
$color-red: #e31f23;
$color-lightblue: #a2d9f7;
$color-blue: #10498a;
$color-midblue: #038dd2;;
$color-royalblue: #264796;
$color-darkblue: #1b2c4c;
$color-grey: #727271;
$color-purple: #852c84;
$color-burgundy: #922043;
$color-cranberry: #922043;
$color-pink: #f5b2b6;
$color-transparent-start: #a4dcfa;
$color-transparent-end: #fff;
$color-lightgreen: #b0cb1e;
$color-green: #089846;
$color-darkgreen: #234926;
$color-black: #000; //removed
$color-glossblack: #2b2a29;
$color-frosted: #a8cbfd; // removed
$color-frosted-start: #d9dada;
$color-frosted-end: #fff;
$color-magenta: #e50b7f;
$color-copper: #af531e;
$color-bronze-start: #cd703c;
$color-bronze-end: #64341c;
$color-metallicsilver: #9d9e9e;
$color-silver-start: #8e8e8e;
$color-silver-end: #fff;
$color-metallicgold: #fbea05;
$color-gold-start: #97721f;
$color-gold-end: #f3e60a;
$color-mattblack: #434242;
$color-darkgray: #444;

// Layout
$container-width: 855px;
$container-height: 500px;
$container-background: #fff;
$container-border: none;

// Card 
$card-base-size: 110px;
$card-font-size: $card-base-size * .1 + 1px;
$card-font-1: "Helvetica Neue", sans-serif;
$card-font-2: Arial, sans-serif;
$card-font-3: "Times New Roman", serif;
$card-font-4: Georgia, serif;


// Controls
$controls-column-gap: 6px;


