.wizard {
	height: 100%;
}

.wizard-step {
	position: relative;
	width: 100%;
	height: 100%;
}

.wizard-splash {
	padding-top: $line-height-computed * 5;
	@include box-sizing(border-box);

	> p {
		margin: 0;
		padding: 0;
		text-align: center;

		&.lead {
			margin-bottom: $font-size-large;
			color: $color-accent;
			font-size: $font-size-large;
			letter-spacing: .01em;
		}

		&.actions {
			margin-top: $line-height-computed * 1.5;
		}
	}
}

.wizard-footer {
	width: 100%;
	position: absolute;
	padding: ($line-height-computed * .5) $font-size-base ($font-size-base * 1.75);
	bottom: 0;
	left: 0;

	@include clearfix();
	@include box-sizing(border-box);

	> .legend {
		float: left;
	}

	> .navigation {
		float: right;
	}

	a + a {
		margin-left: $font-size-base;
	}
}
