<div class="card-front <%= color %> <%= layout %> <%= print %>" 
	<% if (startWithReverse) { %>style="display: none;" <% } %> >
		<div class="card-top-text <%= topTextFont %> <%= topTextSize %> <%= topTextBold %> <%= topTextItalic %> <%= topTextUnderline %>">
			<%= topTextWording %>
		</div>
		<div class="card-middle-text <%= middleTextFont %> <%= middleTextSize %> <%= middleTextBold %> <%= middleTextItalic %> <%= middleTextUnderline %>">
			<%= middleTextWording %>
		</div>
		<div class="card-bottom">
			<div class="card-image">
			<% if (logo) { %>
				<img src="uploads/<%= logo %>">
			<% }else{ %>
			 <div class="card-image-placeholder"></div>
			 <% } %>
			</div>
			<div class="card-bottom-text <%= bottomTextFont %> <%= bottomTextSize %> <%= bottomTextBold %> <%= bottomTextItalic %> <%= bottomTextUnderline %>">
				<%= bottomTextWording %>
			</div>
			<div class="card-privilege">
				Privilege card
			</div>
			<div class="card-identity">
				Identity card
			</div>
			<div class="card-signature">
				<img src="img/signature.png">
			</div>
			<div class="card-membership">
				Membership No. 102743
			</div>
		</div>
	</div>
	<div class="card-reverse <%= color %> <%= reverseLayout %> <%= reversePrint %>"
	<% if (startWithReverse) { %>style="display: block;" <% } %> >
		<div class="card-reverse-top-text 
			<%= reverseTopTextFont %>
			<%= reverseTopTextSize %>
			<%= reverseTopTextBold %>
			<%= reverseTopTextItalic %>
			<%= reverseTopTextUnderline %>">
			<%= reverseTopTextWording %>
		</div>
		<div class="card-reverse-signature-1">
			<img src="img/signature.png">
		</div>
		<div class="card-reverse-middle-text 
			<%= reverseMiddleTextFont %>
			<%= reverseMiddleTextSize %>
			<%= reverseMiddleTextBold %>
			<%= reverseMiddleTextItalic %>
			<%= reverseMiddleTextUnderline %>">
			<%= reverseMiddleTextWording %>
		</div>
		<div class="card-reverse-signature-2">
			<img src="img/signature.png">
		</div>
		<div class="card-reverse-bottom-text 
			<%= reverseBottomTextFont %>
			<%= reverseBottomTextSize %>
			<%= reverseBottomTextBold %>
			<%= reverseBottomTextItalic %>
			<%= reverseBottomTextUnderline %>">
			<%= reverseBottomTextWording %>
		</div>
		<div class="card-reverse-calendar">
			<img src="img/calendar.png">
		</div>
	</div>
	<div class="card-link">
		<a href="javascript:;" class="card-link-show">Link to this card</a>
		<input type="text" class="card-link-input" value="<%= link %>">
		<a href="javascript:;" class="card-link-hide">Hide</a>
	</div>