<div class="controls-wording">
	<div class="controls-wording-row">
		<div class="controls-wording-column">
			<textarea name="reverseTopTextWording" class="control-text"><%= reverseTopTextWording %></textarea>
		</div>
		<div class="controls-wording-column">
			Font: 
			<select name="reverseTopTextFont" class="control-font">

				<option value="30c"
				<% if( reverseTopTextFont == '30c') { %> selected="selected" <% } %>
				>Helvetica</option>

				<option value="30d"
				<% if( reverseTopTextFont == '30d') { %> selected="selected" <% } %>
				>Arial</option>

				<option value="30e"
				<% if( reverseTopTextFont == '30e') { %> selected="selected" <% } %>
				>Times New Roman</option>

				<option value="30f"
				<% if( reverseTopTextFont == '30f') { %> selected="selected" <% } %>
				>Georgia</option>

			</select>
		</div>
		<div class="controls-wording-column">
			<label>
				<input name="reverseTopTextSize" type="radio" class="control-size" value="409"
				<% if( reverseTopTextSize == '409') { %> checked="checked" <% } %>
				> Small
			</label>
			<label>
				<input name="reverseTopTextSize" type="radio" class="control-size" value="40a"
				<% if( reverseTopTextSize == '40a') { %> checked="checked" <% } %>
				> Medium
			</label>
			<label>
				<input name="reverseTopTextSize" type="radio" class="control-size" value="40b"
				<% if( reverseTopTextSize == '40b') { %> checked="checked" <% } %>
				> Large
			</label>
		</div>
		<div class="controls-wording-column">
			<label>
				<input name="reverseTopTextBold" type="checkbox" class="control-decoration" value="513" rel="512"
				<% if( reverseTopTextBold == '513') { %> checked="checked" <% } %>
				> <span class="card-text-bold">Bold</span>
			</label>
			<label>
				<input name="reverseTopTextItalic" type="checkbox" class="control-decoration" value="515" rel="514"
				<% if( reverseTopTextItalic == '515') { %> checked="checked" <% } %>
				> <span class="card-text-italic">Italic</span>
			</label>
			<label>
				<input name="reverseTopTextUnderline" type="checkbox" class="control-decoration" value="517" rel="516"
				<% if( reverseTopTextUnderline == '517') { %> checked="checked" <% } %>
				> <span class="card-text-underline">Underline</span>
			</label>
		</div>
	</div>

	<div class="controls-wording-row">
		<div class="controls-wording-column">
			<textarea name="reverseMiddleTextWording" class="control-text"><%= reverseMiddleTextWording %></textarea>
		</div>
		<div class="controls-wording-column">
			Font: 
			<select name="reverseMiddleTextFont" class="control-font">

				<option value="310"
				<% if( reverseMiddleTextFont == '310') { %> selected="selected" <% } %>
				>Helvetica</option>

				<option value="311"
				<% if( reverseMiddleTextFont == '311') { %> selected="selected" <% } %>
				>Arial</option>

				<option value="312"
				<% if( reverseMiddleTextFont == '312') { %> selected="selected" <% } %>
				>Times New Roman</option>

				<option value="313"
				<% if( reverseMiddleTextFont == '313') { %> selected="selected" <% } %>
				>Georgia</option>

			</select>
		</div>
		<div class="controls-wording-column">
			<label>
				<input name="reverseMiddleTextSize" type="radio" class="control-size" value="40c"
				<% if( reverseMiddleTextSize == '40c') { %> checked="checked" <% } %>
				> Small
			</label>
			<label>
				<input name="reverseMiddleTextSize" type="radio" class="control-size" value="40d"
				<% if( reverseMiddleTextSize == '40d') { %> checked="checked" <% } %>
				> Medium
			</label>
			<label>
				<input name="reverseMiddleTextSize" type="radio" class="control-size" value="40e"
				<% if( reverseMiddleTextSize == '40e') { %> checked="checked" <% } %>
				> Large
			</label>
		</div>
		<div class="controls-wording-column">
			<label>
				<input name="reverseMiddleTextBold" type="checkbox" class="control-decoration" value="519" rel="518"
				<% if( reverseMiddleTextBold == '519') { %> checked="checked" <% } %>
				> <span class="card-text-bold">Bold</span>
			</label>
			<label>
				<input name="reverseMiddleTextItalic" type="checkbox" class="control-decoration" value="51b" rel="51a"
				<% if( reverseMiddleTextItalic == '51b') { %> checked="checked" <% } %>
				> <span class="card-text-italic">Italic</span>
			</label>
			<label>
				<input name="reverseMiddleTextUnderline" type="checkbox" class="control-decoration" value="51d" rel="51c"
				<% if( reverseMiddleTextUnderline == '51d') { %> checked="checked" <% } %>
				> <span class="card-text-underline">Underline</span>
			</label>
		</div>
	</div>

	<div class="controls-wording-row">
		<div class="controls-wording-column">
			<textarea name="reverseBottomTextWording" class="control-text"><%= reverseBottomTextWording %></textarea>
		</div>
		<div class="controls-wording-column">
			Font: 
			<select name="reverseBottomTextFont" class="control-font">

				<option value="314"
				<% if( reverseBottomTextFont == '314') { %> selected="selected" <% } %>
				>Helvetica</option>

				<option value="315"
				<% if( reverseBottomTextFont == '315') { %> selected="selected" <% } %>
				>Arial</option>

				<option value="316"
				<% if( reverseBottomTextFont == '316') { %> selected="selected" <% } %>
				>Times New Roman</option>

				<option value="317"
				<% if( reverseBottomTextFont == '317') { %> selected="selected" <% } %>
				>Georgia</option>

			</select>
		</div>
		<div class="controls-wording-column">
			<label>
				<input name="reverseBottomTextSize" type="radio" class="control-size" value="40f"
				<% if( reverseBottomTextSize == '40f') { %> checked="checked" <% } %>
				> Small
			</label>
			<label>
				<input name="reverseBottomTextSize" type="radio" class="control-size" value="410"
				<% if( reverseBottomTextSize == '410') { %> checked="checked" <% } %>
				> Medium
			</label>
			<label>
				<input name="reverseBottomTextSize" type="radio" class="control-size" value="411"
				<% if( reverseBottomTextSize == '411') { %> checked="checked" <% } %>
				> Large
			</label>
		</div>
		<div class="controls-wording-column">
			<label>
				<input name="reverseBottomTextBold" type="checkbox" class="control-decoration" value="51f" rel="51e"
				<% if( reverseBottomTextBold == '51f') { %> checked="checked" <% } %>
				> <span class="card-text-bold">Bold</span>
			</label>
			<label>
				<input name="reverseBottomTextItalic" type="checkbox" class="control-decoration" value="521" rel="520"
				<% if( reverseBottomTextItalic == '521') { %> checked="checked" <% } %>
				> <span class="card-text-italic">Italic</span>
			</label>
			<label>
				<input name="reverseBottomTextUnderline" type="checkbox" class="control-decoration" value="523" rel="522"
				<% if( reverseBottomTextUnderline == '523') { %> checked="checked" <% } %>
				> <span class="card-text-underline">Underline</span>
			</label>
		</div>
	</div>

</div>