<div class="controls-current">
	Current layout: <%= card.getOptionName(layout) %>
</div>
<div class="controls-layout">
	<a class="control control-layout layout-1<%= (layout == '100' ? ' current' : '')%>" href="javascript:;" rel="100">Business card 1</a>
	<a class="control control-layout layout-6<%= (layout == '103' ? ' current' : '')%>" href="javascript:;" rel="103">Business card 2</a>
	<a class="control control-layout layout-4<%= (layout == '105' ? ' current' : '')%>" href="javascript:;" rel="105">Business card 3</a>
	<a class="control control-layout layout-8<%= (layout == '107' ? ' current' : '')%>" href="javascript:;" rel="107">Privilege card</a>
	<a class="control control-layout layout-9<%= (layout == '108' ? ' current' : '')%>" href="javascript:;" rel="108">Membership card</a>
	<a class="control control-layout layout-10<%= (layout == '109' ? ' current' : '')%>" href="javascript:;" rel="109">Identity card</a>
</div>