<div class="controls-current">
	Current colour: <%= card.getOptionName(color) %>
</div>
<div class="controls-color">
	<a class="control control-color card-color-white<%= (color == '000' ? ' current' : '')%>" href="javascript:;" rel="000"></a>
	<a class="control control-color card-color-tan<%= (color == '001' ? ' current' : '')%>" href="javascript:;" rel="001"></a>
	<a class="control control-color card-color-yellow<%= (color == '002' ? ' current' : '')%>" href="javascript:;" rel="002"></a>
	<a class="control control-color card-color-orange<%= (color == '003' ? ' current' : '')%>" href="javascript:;" rel="003"></a>
	<a class="control control-color card-color-red<%= (color == '004' ? ' current' : '')%>" href="javascript:;" rel="004"></a>
	<a class="control control-color card-color-lightblue<%= (color == '005' ? ' current' : '')%>" href="javascript:;" rel="005"></a>
	<a class="control control-color card-color-blue<%= (color == '006' ? ' current' : '')%>" href="javascript:;" rel="006"></a>
	<a class="control control-color card-color-darkblue<%= (color == '007' ? ' current' : '')%>" href="javascript:;" rel="007"></a>
	<a class="control control-color card-color-purple<%= (color == '008' ? ' current' : '')%>" href="javascript:;" rel="008"></a>
	<a class="control control-color card-color-cranberry<%= (color == '009' ? ' current' : '')%>" href="javascript:;" rel="009"></a>
	<a class="control control-color card-color-pink<%= (color == '00a' ? ' current' : '')%>" href="javascript:;" rel="00a"></a>
	<a class="control control-color card-color-transparent<%= (color == '00b' ? ' current' : '')%>" href="javascript:;" rel="00b"></a>
	<a class="control control-color card-color-green<%= (color == '00c' ? ' current' : '')%>" href="javascript:;" rel="00c"></a>
	<a class="control control-color card-color-darkgreen<%= (color == '00d' ? ' current' : '')%>" href="javascript:;" rel="00d"></a>
	<a class="control control-color card-color-glossblack<%= (color == '00e' ? ' current' : '')%>" href="javascript:;" rel="00e"></a>
	<a class="control control-color card-color-frosted<%= (color == '00f' ? ' current' : '')%>" href="javascript:;" rel="00f"></a>
	<a class="control control-color card-color-bronze<%= (color == '010' ? ' current' : '')%>" href="javascript:;" rel="010"></a>
	<a class="control control-color card-color-silver<%= (color == '011' ? ' current' : '')%>" href="javascript:;" rel="011"></a>
	<a class="control control-color card-color-gold<%= (color == '012' ? ' current' : '')%>" href="javascript:;" rel="012"></a>
	<a class="control control-color card-color-mattblack<%= (color == '013' ? ' current' : '')%>" href="javascript:;" rel="013"></a>
</div>