<div class="controls-current">
	Current print colour: <%= card.getOptionName(reversePrint) %>
</div>
<div class="controls-print">
	<a class="control control-print card-color-white<%= (reversePrint == '214' ? ' current' : '')%>" href="javascript:;" rel="214"></a>
	<a class="control control-print card-color-orange<%= (reversePrint == '215' ? ' current' : '')%>" href="javascript:;" rel="215"></a>
	<a class="control control-print card-color-yellow<%= (reversePrint == '216' ? ' current' : '')%>" href="javascript:;" rel="216"></a>
	<a class="control control-print card-color-lightgreen<%= (reversePrint == '217' ? ' current' : '')%>" href="javascript:;" rel="217"></a>
	<a class="control control-print card-color-lightblue<%= (reversePrint == '218' ? ' current' : '')%>" href="javascript:;" rel="218"></a>
	<a class="control control-print card-color-green<%= (reversePrint == '219' ? ' current' : '')%>" href="javascript:;" rel="219"></a>
	<a class="control control-print card-color-midblue<%= (reversePrint == '21a' ? ' current' : '')%>" href="javascript:;" rel="21a"></a>
	<a class="control control-print card-color-darkgreen<%= (reversePrint == '21b' ? ' current' : '')%>" href="javascript:;" rel="21b"></a>
	<a class="control control-print card-color-royalblue<%= (reversePrint == '21c' ? ' current' : '')%>" href="javascript:;" rel="21c"></a>
	<a class="control control-print card-color-black<%= (reversePrint == '21d' ? ' current' : '')%>" href="javascript:;" rel="21d"></a>
	<a class="control control-print card-color-darkblue<%= (reversePrint == '21e' ? ' current' : '')%>" href="javascript:;" rel="21e"></a>
	<a class="control control-print card-color-grey<%= (reversePrint == '21f' ? ' current' : '')%>" href="javascript:;" rel="21f"></a>
	<a class="control control-print card-color-purple<%= (reversePrint == '220' ? ' current' : '')%>" href="javascript:;" rel="220"></a>
	<a class="control control-print card-color-metallicmagenta<%= (reversePrint == '221' ? ' current' : '')%>" href="javascript:;" rel="221"></a>
	<a class="control control-print card-color-red<%= (reversePrint == '222' ? ' current' : '')%>" href="javascript:;" rel="222"></a>
	<a class="control control-print card-color-metalliccopper<%= (reversePrint == '223' ? ' current' : '')%>" href="javascript:;" rel="223"></a>
	<a class="control control-print card-color-burgundy<%= (reversePrint == '224' ? ' current' : '')%>" href="javascript:;" rel="224"></a>
	<a class="control control-print card-color-metallicsilver<%= (reversePrint == '225' ? ' current' : '')%>" href="javascript:;" rel="225"></a>
	<a class="control control-print card-color-pink<%= (reversePrint == '226' ? ' current' : '')%>" href="javascript:;" rel="226"></a>
	<a class="control control-print card-color-metallicgold<%= (reversePrint == '227' ? ' current' : '')%>" href="javascript:;" rel="227"></a>
</div>