<div class="controls-current">
	Current print colour: <%= card.getOptionName(print) %>
</div>
<div class="controls-print">
	<a class="control control-print card-color-white<%= (print == '200' ? ' current' : '')%>" href="javascript:;" rel="200"></a>
	<a class="control control-print card-color-orange<%= (print == '201' ? ' current' : '')%>" href="javascript:;" rel="201"></a>
	<a class="control control-print card-color-yellow<%= (print == '202' ? ' current' : '')%>" href="javascript:;" rel="202"></a>
	<a class="control control-print card-color-lightgreen<%= (print == '203' ? ' current' : '')%>" href="javascript:;" rel="203"></a>
	<a class="control control-print card-color-lightblue<%= (print == '204' ? ' current' : '')%>" href="javascript:;" rel="204"></a>
	<a class="control control-print card-color-green<%= (print == '205' ? ' current' : '')%>" href="javascript:;" rel="205"></a>
	<a class="control control-print card-color-midblue<%= (print == '206' ? ' current' : '')%>" href="javascript:;" rel="206"></a>
	<a class="control control-print card-color-darkgreen<%= (print == '207' ? ' current' : '')%>" href="javascript:;" rel="207"></a>
	<a class="control control-print card-color-royalblue<%= (print == '208' ? ' current' : '')%>" href="javascript:;" rel="208"></a>
	<a class="control control-print card-color-black<%= (print == '209' ? ' current' : '')%>" href="javascript:;" rel="209"></a>
	<a class="control control-print card-color-darkblue<%= (print == '20a' ? ' current' : '')%>" href="javascript:;" rel="20a"></a>
	<a class="control control-print card-color-grey<%= (print == '20b' ? ' current' : '')%>" href="javascript:;" rel="20b"></a>
	<a class="control control-print card-color-purple<%= (print == '20c' ? ' current' : '')%>" href="javascript:;" rel="20c"></a>
	<a class="control control-print card-color-metallicmagenta<%= (print == '20d' ? ' current' : '')%>" href="javascript:;" rel="20d"></a>
	<a class="control control-print card-color-red<%= (print == '20e' ? ' current' : '')%>" href="javascript:;" rel="20e"></a>
	<a class="control control-print card-color-metalliccopper<%= (print == '20f' ? ' current' : '')%>" href="javascript:;" rel="20f"></a>
	<a class="control control-print card-color-burgundy<%= (print == '210' ? ' current' : '')%>" href="javascript:;" rel="210"></a>
	<a class="control control-print card-color-metallicsilver<%= (print == '211' ? ' current' : '')%>" href="javascript:;" rel="211"></a>
	<a class="control control-print card-color-pink<%= (print == '212' ? ' current' : '')%>" href="javascript:;" rel="212"></a>
	<a class="control control-print card-color-metallicgold<%= (print == '213' ? ' current' : '')%>" href="javascript:;" rel="213"></a>
</div>