<div class="controls-wording">
	<div class="controls-wording-row">
		<div class="controls-wording-column">
			<textarea name="topTextWording" class="control-text" ><%= topTextWording %></textarea>
		</div>
		<div class="controls-wording-column">
			Font: 
			<select name="topTextFont" class="control-font">

				<option value="300"
				<% if( topTextFont == '300') { %> selected="selected" <% } %>
				>Helvetica</option>

				<option value="301"
				<% if( topTextFont == '301') { %> selected="selected" <% } %>
				>Arial</option>

				<option value="302"
				<% if( topTextFont == '302') { %> selected="selected" <% } %>
				>Times New Roman</option>

				<option value="303"
				<% if( topTextFont == '303') { %> selected="selected" <% } %>
				>Georgia</option>

			</select>
		</div>
		<div class="controls-wording-column">
			<label>
				<input name="topTextSize" type="radio" class="control-size" value="400"
				<% if( topTextSize == '400') { %> checked="checked" <% } %>
				> Small
			</label>
			<label>
				<input name="topTextSize" type="radio" class="control-size" value="401"
				<% if( topTextSize == '401') { %> checked="checked" <% } %>
				> Medium
			</label>
			<label>
				<input name="topTextSize" type="radio" class="control-size" value="402"
				<% if( topTextSize == '402') { %> checked="checked" <% } %>
				> Large
			</label>
		</div>
		<div class="controls-wording-column">
			<label>
				<input name="topTextBold" type="checkbox" class="control-decoration" value="501" rel="500"
				<% if( topTextBold == '501') { %> checked="checked" <% } %>
				> <span class="card-text-bold">Bold</span>
			</label>
			<label>
				<input name="topTextItalic" type="checkbox" class="control-decoration" value="503" rel="502"
				<% if( topTextItalic == '503') { %> checked="checked" <% } %>
				> <span class="card-text-italic">Italic</span>
			</label>
			<label>
				<input name="topTextUnderline" type="checkbox" class="control-decoration" value="505" rel="504"
				<% if( topTextUnderline == '505') { %> checked="checked" <% } %>
				> <span class="card-text-underline">Underline</span>
			</label>
		</div>
	</div>

	<div class="controls-wording-row">
		<div class="controls-wording-column">
			<textarea name="middleTextWording" class="control-text"><%= middleTextWording %></textarea>
		</div>
		<div class="controls-wording-column">
			Font: 
			<select name="middleTextFont" class="control-font">

				<option value="304"
				<% if( middleTextFont == '304') { %> selected="selected" <% } %>
				>Helvetica</option>

				<option value="305"
				<% if( middleTextFont == '305') { %> selected="selected" <% } %>
				>Arial</option>

				<option value="306"
				<% if( middleTextFont == '306') { %> selected="selected" <% } %>
				>Times New Roman</option>

				<option value="307"
				<% if( middleTextFont == '306') { %> selected="selected" <% } %>
				>Georgia</option>

			</select>
		</div>
		<div class="controls-wording-column">
			<label>
				<input name="middleTextSize" type="radio" class="control-size" value="403"
				<% if( middleTextSize == '403') { %> checked="checked" <% } %>
				> Small
			</label>
			<label>
				<input name="middleTextSize" type="radio" class="control-size" value="404"
				<% if( middleTextSize == '404') { %> checked="checked" <% } %>
				> Medium
			</label>
			<label>
				<input name="middleTextSize" type="radio" class="control-size" value="405"
				<% if( middleTextSize == '405') { %> checked="checked" <% } %>
				> Large
			</label>
		</div>
		<div class="controls-wording-column">
			<label>
				<input name="middleTextBold" type="checkbox" class="control-decoration" value="507" rel="506"
				<% if( middleTextBold == '507') { %> checked="checked" <% } %>
				> <span class="card-text-bold">Bold</span>
			</label>
			<label>
				<input name="middleTextItalic" type="checkbox" class="control-decoration" value="509" rel="508"
				<% if( middleTextItalic == '509') { %> checked="checked" <% } %>
				> <span class="card-text-italic">Italic</span>
			</label>
			<label>
				<input name="middleTextUnderline" type="checkbox" class="control-decoration" value="50b" rel="50a"
				<% if( middleTextUnderline == '50b') { %> checked="checked" <% } %>
				> <span class="card-text-underline">Underline</span>
			</label>
		</div>
	</div>

	<div class="controls-wording-row">
	<% if (hasBottomText) { %>
		<div class="controls-wording-column">
			<textarea name="bottomTextWording" class="control-text"><%= bottomTextWording %></textarea>
		</div>
		<div class="controls-wording-column">
			Font: 
			<select name="bottomTextFont" class="control-font">

				<option value="308"
				<% if( bottomTextFont == '308') { %> selected="selected" <% } %>
				>Helvetica</option>

				<option value="309"
				<% if( bottomTextFont == '309') { %> selected="selected" <% } %>
				>Arial</option>

				<option value="30a"
				<% if( bottomTextFont == '30a') { %> selected="selected" <% } %>
				>Times New Roman</option>

				<option value="30b"
				<% if( bottomTextFont == '30b') { %> selected="selected" <% } %>
				>Georgia</option>

			</select>
		</div>
		<div class="controls-wording-column">
			<label>
				<input name="bottomTextSize" type="radio" class="control-size" value="406"
				<% if( bottomTextSize == '406') { %> checked="checked" <% } %>
				> Small
			</label>
			<label>
				<input name="bottomTextSize" type="radio" class="control-size" value="407"
				<% if( bottomTextSize == '407') { %> checked="checked" <% } %>
				> Medium
			</label>
			<label>
				<input name="bottomTextSize" type="radio" class="control-size" value="408"
				<% if( bottomTextSize == '408') { %> checked="checked" <% } %>
				> Large
			</label>
		</div>
		<div class="controls-wording-column">
			<label>
				<input name="bottomTextBold" type="checkbox" class="control-decoration" value="50d" rel="50c"
				<% if( bottomTextBold == '50d') { %> checked="checked" <% } %>
				> <span class="card-text-bold">Bold</span>
			</label>
			<label>
				<input name="bottomTextItalic" type="checkbox" class="control-decoration" value="50f" rel="50e"
				<% if( bottomTextItalic == '50f') { %> checked="checked" <% } %>
				> <span class="card-text-italic">Italic</span>
			</label>
			<label>
				<input name="bottomTextUnderline" type="checkbox" class="control-decoration" value="511" rel="510"
				<% if( bottomTextUnderline == '511') { %> checked="checked" <% } %>
				> <span class="card-text-underline">Underline</span>
			</label>
		</div>
		<% } %>
	</div>

</div>