<div class="controls-current">
	Current layout: <%= card.getOptionName(reverseLayout) %>
</div>
<div class="controls-reverse-layout">
	<a class="control control-reverse-layout reverse-layout-1<%= (reverseLayout == '10a' ? ' current' : '')%>" href="javascript:;" rel="10a">Blank reverse card</a>
	<a class="control control-reverse-layout reverse-layout-2<%= (reverseLayout == '10b' ? ' current' : '')%>" href="javascript:;" rel="10b">Reverse card 1</a>
	<a class="control control-reverse-layout reverse-layout-3<%= (reverseLayout == '10c' ? ' current' : '')%>" href="javascript:;" rel="10c">Calendar</a>
	<a class="control control-reverse-layout reverse-layout-4<%= (reverseLayout == '10d' ? ' current' : '')%>" href="javascript:;" rel="10d">One signature</a>
	<a class="control control-reverse-layout reverse-layout-5<%= (reverseLayout == '10e' ? ' current' : '')%>" href="javascript:;" rel="10e">Two signatures</a>
	<a class="control control-reverse-layout reverse-layout-6<%= (reverseLayout == '10f' ? ' current' : '')%>" href="javascript:;" rel="10f">Text and signature</a>
	<a class="control control-reverse-layout reverse-layout-7<%= (reverseLayout == '110' ? ' current' : '')%>" href="javascript:;" rel="110">Text and two signatures</a>
</div>