<form action="confirm.php" method="post">
	<input type="hidden" name="colour" value="<%= color %>">
	<input type="hidden" name="layout" value="<%= layout %>">
	<input type="hidden" name="print" value="<%= print %>">

	<input type="hidden" name="topTextWording" value="<%= topTextWording %>">
	<input type="hidden" name="topTextFont" value="<%= topTextFont %>">
	<input type="hidden" name="topTextSize" value="<%= topTextSize %>">
	<input type="hidden" name="topTextBold" value="<%= topTextBold %>">
	<input type="hidden" name="topTextItalic" value="<%= topTextItalic %>">
	<input type="hidden" name="topTextUnderline" value="<%= topTextUnderline %>">

	<input type="hidden" name="middleTextWording" value="<%= middleTextWording %>">
	<input type="hidden" name="middleTextFont" value="<%= middleTextFont %>">
	<input type="hidden" name="middleTextSize" value="<%= middleTextSize %>">
	<input type="hidden" name="middleTextBold" value="<%= middleTextBold %>">
	<input type="hidden" name="middleTextItalic" value="<%= middleTextItalic %>">
	<input type="hidden" name="middleTextUnderline" value="<%= middleTextUnderline %>">

	<input type="hidden" name="bottomTextWording" value="<%= bottomTextWording %>">
	<input type="hidden" name="bottomTextFont" value="<%= bottomTextFont %>">
	<input type="hidden" name="bottomTextSize" value="<%= bottomTextSize %>">
	<input type="hidden" name="bottomTextBold" value="<%= bottomTextBold %>">
	<input type="hidden" name="bottomTextItalic" value="<%= bottomTextItalic %>">
	<input type="hidden" name="bottomTextUnderline" value="<%= bottomTextUnderline %>">

	<input type="hidden" name="reverseLayout" value="<%= reverseLayout %>">
	<input type="hidden" name="reversePrint" value="<%= reversePrint %>">

	<input type="hidden" name="reverseTopTextWording" value="<%= reverseTopTextWording %>">
	<input type="hidden" name="reverseTopTextFont" value="<%= reverseTopTextFont %>">
	<input type="hidden" name="reverseTopTextSize" value="<%= reverseTopTextSize %>">
	<input type="hidden" name="reverseTopTextBold" value="<%= reverseTopTextBold %>">
	<input type="hidden" name="reverseTopTextItalic" value="<%= reverseTopTextItalic %>">
	<input type="hidden" name="reverseTopTextUnderline" value="<%= reverseTopTextUnderline %>">

	<input type="hidden" name="reverseMiddleTextWording" value="<%= reverseMiddleTextWording %>">
	<input type="hidden" name="reverseMiddleTextFont" value="<%= reverseMiddleTextFont %>">
	<input type="hidden" name="reverseMiddleTextSize" value="<%= reverseMiddleTextSize %>">
	<input type="hidden" name="reverseMiddleTextBold" value="<%= reverseMiddleTextBold %>">
	<input type="hidden" name="reverseMiddleTextItalic" value="<%= reverseMiddleTextItalic %>">
	<input type="hidden" name="reverseMiddleTextUnderline" value="<%= reverseMiddleTextUnderline %>">

	<input type="hidden" name="reverseBottomTextWording" value="<%= reverseBottomTextWording %>">
	<input type="hidden" name="reverseBottomTextFont" value="<%= reverseBottomTextFont %>">
	<input type="hidden" name="reverseBottomTextSize" value="<%= reverseBottomTextSize %>">
	<input type="hidden" name="reverseBottomTextBold" value="<%= reverseBottomTextBold %>">
	<input type="hidden" name="reverseBottomTextItalic" value="<%= reverseBottomTextItalic %>">
	<input type="hidden" name="reverseBottomTextUnderline" value="<%= reverseBottomTextUnderline %>">

	<input type="hidden" name="logo" value="<%= logo %>">

	<p class="text-centered">
		A second print color on the front of your cards can often enchance the overall look,<br>would you like a price for this option included in your quote? <br>
		<input type="radio" name="secondprint" value="yes"> Yes&nbsp;&nbsp;&nbsp;
		<input type="radio" name="secondprint" value="no"> No
	</p>
	<p>
		<label for="info-name">Name:</label>
		<input type="text" name="name" id="info-name">	
	</p>
	<p>
		<label for="info-phone">Telephone:</label>
		<input type="text" name="phone" id="info-phone">	
	</p>
	<p>
		<label for="info-email">Email:</label>
		<input type="text" name="email" id="info-email">
	</p>
	<p>
		<label for="info-quantity">Quantity of cards:</label>
		<select name="quantity" id="info-quantity">
			<option value="200">200</option>
			<option value="500">500</option>
			<option value="1000">1000</option>
			<option value="2500">2500</option>
			<option value="5000">5000</option>
			<option value="10000">10000</option>
		</select>	
	</p>
	<p>
		<label>Are you a previous customer?</label>
		<input type="radio" name="customer" id="info-customer" value="yes"> Yes&nbsp;&nbsp;&nbsp;
		<input type="radio" name="customer" checked="checked" value="no"> No
	</p>
	<p class="text-centered">
		<input type="submit" value="Submit">
	</p>
	<p class="text-centered">
		Please note that the colours and layouts used in the tool are representative.<br>To see actual examples, please contact us for a free sample pack
	</p>
</form>