<div class="wizard-header">
	<h2><%= title %></h2>
</div>
<div id="card" class="card"></div>
<div id="controls" class="controls"></div>
<div class="wizard-footer">
	<div class="legend"></div>
	<div class="navigation">
		<% _.each(navigation, function(url, title){ %>
		<a href="#wizard/<%= url %>" class="btn"><%= title %></a>
		<% });%>
	</div>
</div>