<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<title>Design a Card &mdash; Premier Plastic Cards</title>
		<script src="js/jquery-1.11.2.min.js"></script>
		<script src="js/underscore.min.js"></script>
		<script src="js/backbone.min.js"></script>
		<script src="js/dropzone.min.js"></script>
		<link rel="stylesheet" href="css/dropzone.css">
		<link rel="stylesheet" href="css/wizard.css">
		
	</head>

	<body>
		<div class="wizard-container">
			<div id="wizard" class="wizard">
				<div class="wizard-header">
					<h2>Online design wizard</h2>
				</div>
				<div class="wizard-splash">
					<p class="lead">Welcome to Premier Plastic Cards Online Design Wizard</p>
					<p>Go step by step through the design process to create your perfect card</p>
					<p class="actions">
						<a class="btn large" href="#wizard/color">Proceed</a>
					</p>
				</div>
			</div>
		</div>
	</body>

	<script type="text/html" id="tpl-card">
		<div class="card-front <%= color %> <%= layout %> <%= print %>" 
	<% if (startWithReverse) { %>style="display: none;" <% } %> >
		<div class="card-top-text <%= topTextFont %> <%= topTextSize %> <%= topTextBold %> <%= topTextItalic %> <%= topTextUnderline %>">
			<%= topTextWording %>
		</div>
		<div class="card-middle-text <%= middleTextFont %> <%= middleTextSize %> <%= middleTextBold %> <%= middleTextItalic %> <%= middleTextUnderline %>">
			<%= middleTextWording %>
		</div>
		<div class="card-bottom">
			<div class="card-image">
			<% if (logo) { %>
				<img src="uploads/<%= logo %>">
			<% }else{ %>
			 <div class="card-image-placeholder"></div>
			 <% } %>
			</div>
			<div class="card-bottom-text <%= bottomTextFont %> <%= bottomTextSize %> <%= bottomTextBold %> <%= bottomTextItalic %> <%= bottomTextUnderline %>">
				<%= bottomTextWording %>
			</div>
			<div class="card-privilege">
				Privilege card
			</div>
			<div class="card-identity">
				Identity card
			</div>
			<div class="card-signature">
				<img src="img/signature.png">
			</div>
			<div class="card-membership">
				Membership No. 102743
			</div>
		</div>
	</div>
	<div class="card-reverse <%= color %> <%= reverseLayout %> <%= reversePrint %>"
	<% if (startWithReverse) { %>style="display: block;" <% } %> >
		<div class="card-reverse-top-text 
			<%= reverseTopTextFont %>
			<%= reverseTopTextSize %>
			<%= reverseTopTextBold %>
			<%= reverseTopTextItalic %>
			<%= reverseTopTextUnderline %>">
			<%= reverseTopTextWording %>
		</div>
		<div class="card-reverse-signature-1">
			<img src="img/signature.png">
		</div>
		<div class="card-reverse-middle-text 
			<%= reverseMiddleTextFont %>
			<%= reverseMiddleTextSize %>
			<%= reverseMiddleTextBold %>
			<%= reverseMiddleTextItalic %>
			<%= reverseMiddleTextUnderline %>">
			<%= reverseMiddleTextWording %>
		</div>
		<div class="card-reverse-signature-2">
			<img src="img/signature.png">
		</div>
		<div class="card-reverse-bottom-text 
			<%= reverseBottomTextFont %>
			<%= reverseBottomTextSize %>
			<%= reverseBottomTextBold %>
			<%= reverseBottomTextItalic %>
			<%= reverseBottomTextUnderline %>">
			<%= reverseBottomTextWording %>
		</div>
		<div class="card-reverse-calendar">
			<img src="img/calendar.png">
		</div>
	</div>
	<div class="card-link">
		<a href="javascript:;" class="card-link-show">Link to this card</a>
		<input type="text" class="card-link-input" value="<%= link %>">
		<a href="javascript:;" class="card-link-hide">Hide</a>
	</div>	</script>

	<script type="text/html" id="tpl-card-flip">
		<div class="card-front <%= color %> <%= layout %> <%= print %>">
		<div class="card-top-text <%= topTextFont %> <%= topTextSize %> <%= topTextBold %> <%= topTextItalic %> <%= topTextUnderline %>">
			<%= topTextWording %>
		</div>
		<div class="card-middle-text <%= middleTextFont %> <%= middleTextSize %> <%= middleTextBold %> <%= middleTextItalic %> <%= middleTextUnderline %>">
			<%= middleTextWording %>
		</div>
		<div class="card-bottom">
			<div class="card-image">
			<% if (logo) { %>
				<img src="uploads/<%= logo %>">
			<% }else{ %>
			 <div class="card-image-placeholder"></div>
			 <% } %>
			</div>
			<div class="card-bottom-text <%= bottomTextFont %> <%= bottomTextSize %> <%= bottomTextBold %> <%= bottomTextItalic %> <%= bottomTextUnderline %>">
				<%= bottomTextWording %>
			</div>
			<div class="card-privilege">
				Privilege card
			</div>
			<div class="card-identity">
				Identity card
			</div>
			<div class="card-signature">
				<img src="img/signature.png">
			</div>
			<div class="card-membership">
				Membership No. 102743
			</div>
		</div>
	</div>
	<div class="card-reverse <%= color %> <%= reverseLayout %> <%= reversePrint %>" style="display: none;">
		<div class="card-reverse-top-text 
			<%= reverseTopTextFont %>
			<%= reverseTopTextSize %>
			<%= reverseTopTextBold %>
			<%= reverseTopTextItalic %>
			<%= reverseTopTextUnderline %>">
			<%= reverseTopTextWording %>
		</div>
		<div class="card-reverse-signature-1">
			<img src="img/signature.png">
		</div>
		<div class="card-reverse-middle-text 
			<%= reverseMiddleTextFont %>
			<%= reverseMiddleTextSize %>
			<%= reverseMiddleTextBold %>
			<%= reverseMiddleTextItalic %>
			<%= reverseMiddleTextUnderline %>">
			<%= reverseMiddleTextWording %>
		</div>
		<div class="card-reverse-signature-2">
			<img src="img/signature.png">
		</div>
		<div class="card-reverse-bottom-text 
			<%= reverseBottomTextFont %>
			<%= reverseBottomTextSize %>
			<%= reverseBottomTextBold %>
			<%= reverseBottomTextItalic %>
			<%= reverseBottomTextUnderline %>">
			<%= reverseBottomTextWording %>
		</div>
		<div class="card-reverse-calendar">
			<img src="img/calendar.png">
		</div>
	</div>
	<div class="card-link">
		<a href="javascript:;" class="card-link-show">Link to this card</a>
		<input type="text" class="card-link-input" value="<%= link %>">
		<a href="javascript:;" class="card-link-hide">Hide</a>
	</div>
	<div class="card-flipper">
		<a class="btn flip front" href="javascript:;">Show front side</a>
		<a class="btn flip reverse" href="javascript:;">Show reverse side</a>
	</div>	</script>

	<script type="text/html" id="tpl-details">
		<form action="confirm.php" method="post">
	<input type="hidden" name="colour" value="<%= color %>">
	<input type="hidden" name="layout" value="<%= layout %>">
	<input type="hidden" name="print" value="<%= print %>">

	<input type="hidden" name="topTextWording" value="<%= topTextWording %>">
	<input type="hidden" name="topTextFont" value="<%= topTextFont %>">
	<input type="hidden" name="topTextSize" value="<%= topTextSize %>">
	<input type="hidden" name="topTextBold" value="<%= topTextBold %>">
	<input type="hidden" name="topTextItalic" value="<%= topTextItalic %>">
	<input type="hidden" name="topTextUnderline" value="<%= topTextUnderline %>">

	<input type="hidden" name="middleTextWording" value="<%= middleTextWording %>">
	<input type="hidden" name="middleTextFont" value="<%= middleTextFont %>">
	<input type="hidden" name="middleTextSize" value="<%= middleTextSize %>">
	<input type="hidden" name="middleTextBold" value="<%= middleTextBold %>">
	<input type="hidden" name="middleTextItalic" value="<%= middleTextItalic %>">
	<input type="hidden" name="middleTextUnderline" value="<%= middleTextUnderline %>">

	<input type="hidden" name="bottomTextWording" value="<%= bottomTextWording %>">
	<input type="hidden" name="bottomTextFont" value="<%= bottomTextFont %>">
	<input type="hidden" name="bottomTextSize" value="<%= bottomTextSize %>">
	<input type="hidden" name="bottomTextBold" value="<%= bottomTextBold %>">
	<input type="hidden" name="bottomTextItalic" value="<%= bottomTextItalic %>">
	<input type="hidden" name="bottomTextUnderline" value="<%= bottomTextUnderline %>">

	<input type="hidden" name="reverseLayout" value="<%= reverseLayout %>">
	<input type="hidden" name="reversePrint" value="<%= reversePrint %>">

	<input type="hidden" name="reverseTopTextWording" value="<%= reverseTopTextWording %>">
	<input type="hidden" name="reverseTopTextFont" value="<%= reverseTopTextFont %>">
	<input type="hidden" name="reverseTopTextSize" value="<%= reverseTopTextSize %>">
	<input type="hidden" name="reverseTopTextBold" value="<%= reverseTopTextBold %>">
	<input type="hidden" name="reverseTopTextItalic" value="<%= reverseTopTextItalic %>">
	<input type="hidden" name="reverseTopTextUnderline" value="<%= reverseTopTextUnderline %>">

	<input type="hidden" name="reverseMiddleTextWording" value="<%= reverseMiddleTextWording %>">
	<input type="hidden" name="reverseMiddleTextFont" value="<%= reverseMiddleTextFont %>">
	<input type="hidden" name="reverseMiddleTextSize" value="<%= reverseMiddleTextSize %>">
	<input type="hidden" name="reverseMiddleTextBold" value="<%= reverseMiddleTextBold %>">
	<input type="hidden" name="reverseMiddleTextItalic" value="<%= reverseMiddleTextItalic %>">
	<input type="hidden" name="reverseMiddleTextUnderline" value="<%= reverseMiddleTextUnderline %>">

	<input type="hidden" name="reverseBottomTextWording" value="<%= reverseBottomTextWording %>">
	<input type="hidden" name="reverseBottomTextFont" value="<%= reverseBottomTextFont %>">
	<input type="hidden" name="reverseBottomTextSize" value="<%= reverseBottomTextSize %>">
	<input type="hidden" name="reverseBottomTextBold" value="<%= reverseBottomTextBold %>">
	<input type="hidden" name="reverseBottomTextItalic" value="<%= reverseBottomTextItalic %>">
	<input type="hidden" name="reverseBottomTextUnderline" value="<%= reverseBottomTextUnderline %>">

	<input type="hidden" name="logo" value="<%= logo %>">

	<p class="text-centered">
		A second print color on the front of your cards can often enchance the overall look,<br>would you like a price for this option included in your quote? <br>
		<input type="radio" name="secondprint" value="yes"> Yes&nbsp;&nbsp;&nbsp;
		<input type="radio" name="secondprint" value="no"> No
	</p>
	<p>
		<label for="info-name">Name:</label>
		<input type="text" name="name" id="info-name">	
	</p>
	<p>
		<label for="info-phone">Telephone:</label>
		<input type="text" name="phone" id="info-phone">	
	</p>
	<p>
		<label for="info-email">Email:</label>
		<input type="text" name="email" id="info-email">
	</p>
	<p>
		<label for="info-quantity">Quantity of cards:</label>
		<select name="quantity" id="info-quantity">
			<option value="200">200</option>
			<option value="500">500</option>
			<option value="1000">1000</option>
			<option value="2500">2500</option>
			<option value="5000">5000</option>
			<option value="10000">10000</option>
		</select>	
	</p>
	<p>
		<label>Are you a previous customer?</label>
		<input type="radio" name="customer" id="info-customer" value="yes"> Yes&nbsp;&nbsp;&nbsp;
		<input type="radio" name="customer" checked="checked" value="no"> No
	</p>
	<p class="text-centered">
		<input type="submit" value="Submit">
	</p>
	<p class="text-centered">
		Please note that the colours and layouts used in the tool are representative.<br>To see actual examples, please contact us for a free sample pack
	</p>
</form>	</script>

	<script type="text/html" id="tpl-controls-upload">
		<form action="upload.php" class="dropzone" id="logo-upload">
	<div class="dz-message">
		Drop file here or click to upload
	</div>
</form>	</script>

	<script type="text/html" id="tpl-controls-wording">
		<div class="controls-wording">
	<div class="controls-wording-row">
		<div class="controls-wording-column">
			<textarea name="topTextWording" class="control-text" ><%= topTextWording %></textarea>
		</div>
		<div class="controls-wording-column">
			Font: 
			<select name="topTextFont" class="control-font">

				<option value="300"
				<% if( topTextFont == '300') { %> selected="selected" <% } %>
				>Helvetica</option>

				<option value="301"
				<% if( topTextFont == '301') { %> selected="selected" <% } %>
				>Arial</option>

				<option value="302"
				<% if( topTextFont == '302') { %> selected="selected" <% } %>
				>Times New Roman</option>

				<option value="303"
				<% if( topTextFont == '303') { %> selected="selected" <% } %>
				>Georgia</option>

			</select>
		</div>
		<div class="controls-wording-column">
			<label>
				<input name="topTextSize" type="radio" class="control-size" value="400"
				<% if( topTextSize == '400') { %> checked="checked" <% } %>
				> Small
			</label>
			<label>
				<input name="topTextSize" type="radio" class="control-size" value="401"
				<% if( topTextSize == '401') { %> checked="checked" <% } %>
				> Medium
			</label>
			<label>
				<input name="topTextSize" type="radio" class="control-size" value="402"
				<% if( topTextSize == '402') { %> checked="checked" <% } %>
				> Large
			</label>
		</div>
		<div class="controls-wording-column">
			<label>
				<input name="topTextBold" type="checkbox" class="control-decoration" value="501" rel="500"
				<% if( topTextBold == '501') { %> checked="checked" <% } %>
				> <span class="card-text-bold">Bold</span>
			</label>
			<label>
				<input name="topTextItalic" type="checkbox" class="control-decoration" value="503" rel="502"
				<% if( topTextItalic == '503') { %> checked="checked" <% } %>
				> <span class="card-text-italic">Italic</span>
			</label>
			<label>
				<input name="topTextUnderline" type="checkbox" class="control-decoration" value="505" rel="504"
				<% if( topTextUnderline == '505') { %> checked="checked" <% } %>
				> <span class="card-text-underline">Underline</span>
			</label>
		</div>
	</div>

	<div class="controls-wording-row">
		<div class="controls-wording-column">
			<textarea name="middleTextWording" class="control-text"><%= middleTextWording %></textarea>
		</div>
		<div class="controls-wording-column">
			Font: 
			<select name="middleTextFont" class="control-font">

				<option value="304"
				<% if( middleTextFont == '304') { %> selected="selected" <% } %>
				>Helvetica</option>

				<option value="305"
				<% if( middleTextFont == '305') { %> selected="selected" <% } %>
				>Arial</option>

				<option value="306"
				<% if( middleTextFont == '306') { %> selected="selected" <% } %>
				>Times New Roman</option>

				<option value="307"
				<% if( middleTextFont == '306') { %> selected="selected" <% } %>
				>Georgia</option>

			</select>
		</div>
		<div class="controls-wording-column">
			<label>
				<input name="middleTextSize" type="radio" class="control-size" value="403"
				<% if( middleTextSize == '403') { %> checked="checked" <% } %>
				> Small
			</label>
			<label>
				<input name="middleTextSize" type="radio" class="control-size" value="404"
				<% if( middleTextSize == '404') { %> checked="checked" <% } %>
				> Medium
			</label>
			<label>
				<input name="middleTextSize" type="radio" class="control-size" value="405"
				<% if( middleTextSize == '405') { %> checked="checked" <% } %>
				> Large
			</label>
		</div>
		<div class="controls-wording-column">
			<label>
				<input name="middleTextBold" type="checkbox" class="control-decoration" value="507" rel="506"
				<% if( middleTextBold == '507') { %> checked="checked" <% } %>
				> <span class="card-text-bold">Bold</span>
			</label>
			<label>
				<input name="middleTextItalic" type="checkbox" class="control-decoration" value="509" rel="508"
				<% if( middleTextItalic == '509') { %> checked="checked" <% } %>
				> <span class="card-text-italic">Italic</span>
			</label>
			<label>
				<input name="middleTextUnderline" type="checkbox" class="control-decoration" value="50b" rel="50a"
				<% if( middleTextUnderline == '50b') { %> checked="checked" <% } %>
				> <span class="card-text-underline">Underline</span>
			</label>
		</div>
	</div>

	<div class="controls-wording-row">
	<% if (hasBottomText) { %>
		<div class="controls-wording-column">
			<textarea name="bottomTextWording" class="control-text"><%= bottomTextWording %></textarea>
		</div>
		<div class="controls-wording-column">
			Font: 
			<select name="bottomTextFont" class="control-font">

				<option value="308"
				<% if( bottomTextFont == '308') { %> selected="selected" <% } %>
				>Helvetica</option>

				<option value="309"
				<% if( bottomTextFont == '309') { %> selected="selected" <% } %>
				>Arial</option>

				<option value="30a"
				<% if( bottomTextFont == '30a') { %> selected="selected" <% } %>
				>Times New Roman</option>

				<option value="30b"
				<% if( bottomTextFont == '30b') { %> selected="selected" <% } %>
				>Georgia</option>

			</select>
		</div>
		<div class="controls-wording-column">
			<label>
				<input name="bottomTextSize" type="radio" class="control-size" value="406"
				<% if( bottomTextSize == '406') { %> checked="checked" <% } %>
				> Small
			</label>
			<label>
				<input name="bottomTextSize" type="radio" class="control-size" value="407"
				<% if( bottomTextSize == '407') { %> checked="checked" <% } %>
				> Medium
			</label>
			<label>
				<input name="bottomTextSize" type="radio" class="control-size" value="408"
				<% if( bottomTextSize == '408') { %> checked="checked" <% } %>
				> Large
			</label>
		</div>
		<div class="controls-wording-column">
			<label>
				<input name="bottomTextBold" type="checkbox" class="control-decoration" value="50d" rel="50c"
				<% if( bottomTextBold == '50d') { %> checked="checked" <% } %>
				> <span class="card-text-bold">Bold</span>
			</label>
			<label>
				<input name="bottomTextItalic" type="checkbox" class="control-decoration" value="50f" rel="50e"
				<% if( bottomTextItalic == '50f') { %> checked="checked" <% } %>
				> <span class="card-text-italic">Italic</span>
			</label>
			<label>
				<input name="bottomTextUnderline" type="checkbox" class="control-decoration" value="511" rel="510"
				<% if( bottomTextUnderline == '511') { %> checked="checked" <% } %>
				> <span class="card-text-underline">Underline</span>
			</label>
		</div>
		<% } %>
	</div>

</div>	</script>

	<script type="text/html" id="tpl-controls-reverse-wording">
		<div class="controls-wording">
	<div class="controls-wording-row">
		<div class="controls-wording-column">
			<textarea name="reverseTopTextWording" class="control-text"><%= reverseTopTextWording %></textarea>
		</div>
		<div class="controls-wording-column">
			Font: 
			<select name="reverseTopTextFont" class="control-font">

				<option value="30c"
				<% if( reverseTopTextFont == '30c') { %> selected="selected" <% } %>
				>Helvetica</option>

				<option value="30d"
				<% if( reverseTopTextFont == '30d') { %> selected="selected" <% } %>
				>Arial</option>

				<option value="30e"
				<% if( reverseTopTextFont == '30e') { %> selected="selected" <% } %>
				>Times New Roman</option>

				<option value="30f"
				<% if( reverseTopTextFont == '30f') { %> selected="selected" <% } %>
				>Georgia</option>

			</select>
		</div>
		<div class="controls-wording-column">
			<label>
				<input name="reverseTopTextSize" type="radio" class="control-size" value="409"
				<% if( reverseTopTextSize == '409') { %> checked="checked" <% } %>
				> Small
			</label>
			<label>
				<input name="reverseTopTextSize" type="radio" class="control-size" value="40a"
				<% if( reverseTopTextSize == '40a') { %> checked="checked" <% } %>
				> Medium
			</label>
			<label>
				<input name="reverseTopTextSize" type="radio" class="control-size" value="40b"
				<% if( reverseTopTextSize == '40b') { %> checked="checked" <% } %>
				> Large
			</label>
		</div>
		<div class="controls-wording-column">
			<label>
				<input name="reverseTopTextBold" type="checkbox" class="control-decoration" value="513" rel="512"
				<% if( reverseTopTextBold == '513') { %> checked="checked" <% } %>
				> <span class="card-text-bold">Bold</span>
			</label>
			<label>
				<input name="reverseTopTextItalic" type="checkbox" class="control-decoration" value="515" rel="514"
				<% if( reverseTopTextItalic == '515') { %> checked="checked" <% } %>
				> <span class="card-text-italic">Italic</span>
			</label>
			<label>
				<input name="reverseTopTextUnderline" type="checkbox" class="control-decoration" value="517" rel="516"
				<% if( reverseTopTextUnderline == '517') { %> checked="checked" <% } %>
				> <span class="card-text-underline">Underline</span>
			</label>
		</div>
	</div>

	<div class="controls-wording-row">
		<div class="controls-wording-column">
			<textarea name="reverseMiddleTextWording" class="control-text"><%= reverseMiddleTextWording %></textarea>
		</div>
		<div class="controls-wording-column">
			Font: 
			<select name="reverseMiddleTextFont" class="control-font">

				<option value="310"
				<% if( reverseMiddleTextFont == '310') { %> selected="selected" <% } %>
				>Helvetica</option>

				<option value="311"
				<% if( reverseMiddleTextFont == '311') { %> selected="selected" <% } %>
				>Arial</option>

				<option value="312"
				<% if( reverseMiddleTextFont == '312') { %> selected="selected" <% } %>
				>Times New Roman</option>

				<option value="313"
				<% if( reverseMiddleTextFont == '313') { %> selected="selected" <% } %>
				>Georgia</option>

			</select>
		</div>
		<div class="controls-wording-column">
			<label>
				<input name="reverseMiddleTextSize" type="radio" class="control-size" value="40c"
				<% if( reverseMiddleTextSize == '40c') { %> checked="checked" <% } %>
				> Small
			</label>
			<label>
				<input name="reverseMiddleTextSize" type="radio" class="control-size" value="40d"
				<% if( reverseMiddleTextSize == '40d') { %> checked="checked" <% } %>
				> Medium
			</label>
			<label>
				<input name="reverseMiddleTextSize" type="radio" class="control-size" value="40e"
				<% if( reverseMiddleTextSize == '40e') { %> checked="checked" <% } %>
				> Large
			</label>
		</div>
		<div class="controls-wording-column">
			<label>
				<input name="reverseMiddleTextBold" type="checkbox" class="control-decoration" value="519" rel="518"
				<% if( reverseMiddleTextBold == '519') { %> checked="checked" <% } %>
				> <span class="card-text-bold">Bold</span>
			</label>
			<label>
				<input name="reverseMiddleTextItalic" type="checkbox" class="control-decoration" value="51b" rel="51a"
				<% if( reverseMiddleTextItalic == '51b') { %> checked="checked" <% } %>
				> <span class="card-text-italic">Italic</span>
			</label>
			<label>
				<input name="reverseMiddleTextUnderline" type="checkbox" class="control-decoration" value="51d" rel="51c"
				<% if( reverseMiddleTextUnderline == '51d') { %> checked="checked" <% } %>
				> <span class="card-text-underline">Underline</span>
			</label>
		</div>
	</div>

	<div class="controls-wording-row">
		<div class="controls-wording-column">
			<textarea name="reverseBottomTextWording" class="control-text"><%= reverseBottomTextWording %></textarea>
		</div>
		<div class="controls-wording-column">
			Font: 
			<select name="reverseBottomTextFont" class="control-font">

				<option value="314"
				<% if( reverseBottomTextFont == '314') { %> selected="selected" <% } %>
				>Helvetica</option>

				<option value="315"
				<% if( reverseBottomTextFont == '315') { %> selected="selected" <% } %>
				>Arial</option>

				<option value="316"
				<% if( reverseBottomTextFont == '316') { %> selected="selected" <% } %>
				>Times New Roman</option>

				<option value="317"
				<% if( reverseBottomTextFont == '317') { %> selected="selected" <% } %>
				>Georgia</option>

			</select>
		</div>
		<div class="controls-wording-column">
			<label>
				<input name="reverseBottomTextSize" type="radio" class="control-size" value="40f"
				<% if( reverseBottomTextSize == '40f') { %> checked="checked" <% } %>
				> Small
			</label>
			<label>
				<input name="reverseBottomTextSize" type="radio" class="control-size" value="410"
				<% if( reverseBottomTextSize == '410') { %> checked="checked" <% } %>
				> Medium
			</label>
			<label>
				<input name="reverseBottomTextSize" type="radio" class="control-size" value="411"
				<% if( reverseBottomTextSize == '411') { %> checked="checked" <% } %>
				> Large
			</label>
		</div>
		<div class="controls-wording-column">
			<label>
				<input name="reverseBottomTextBold" type="checkbox" class="control-decoration" value="51f" rel="51e"
				<% if( reverseBottomTextBold == '51f') { %> checked="checked" <% } %>
				> <span class="card-text-bold">Bold</span>
			</label>
			<label>
				<input name="reverseBottomTextItalic" type="checkbox" class="control-decoration" value="521" rel="520"
				<% if( reverseBottomTextItalic == '521') { %> checked="checked" <% } %>
				> <span class="card-text-italic">Italic</span>
			</label>
			<label>
				<input name="reverseBottomTextUnderline" type="checkbox" class="control-decoration" value="523" rel="522"
				<% if( reverseBottomTextUnderline == '523') { %> checked="checked" <% } %>
				> <span class="card-text-underline">Underline</span>
			</label>
		</div>
	</div>

</div>	</script>

	<script type="text/html" id="tpl-controls-layout">
		<div class="controls-current">
	Current layout: <%= card.getOptionName(layout) %>
</div>
<div class="controls-layout">
	<a class="control control-layout layout-1<%= (layout == '100' ? ' current' : '')%>" href="javascript:;" rel="100">Business card 1</a>
	<a class="control control-layout layout-6<%= (layout == '103' ? ' current' : '')%>" href="javascript:;" rel="103">Business card 2</a>
	<a class="control control-layout layout-4<%= (layout == '105' ? ' current' : '')%>" href="javascript:;" rel="105">Business card 3</a>
	<a class="control control-layout layout-8<%= (layout == '107' ? ' current' : '')%>" href="javascript:;" rel="107">Privilege card</a>
	<a class="control control-layout layout-9<%= (layout == '108' ? ' current' : '')%>" href="javascript:;" rel="108">Membership card</a>
	<a class="control control-layout layout-10<%= (layout == '109' ? ' current' : '')%>" href="javascript:;" rel="109">Identity card</a>
</div>	</script>

	<script type="text/html" id="tpl-controls-reverse-layout">
		<div class="controls-current">
	Current layout: <%= card.getOptionName(reverseLayout) %>
</div>
<div class="controls-reverse-layout">
	<a class="control control-reverse-layout reverse-layout-1<%= (reverseLayout == '10a' ? ' current' : '')%>" href="javascript:;" rel="10a">Blank reverse card</a>
	<a class="control control-reverse-layout reverse-layout-2<%= (reverseLayout == '10b' ? ' current' : '')%>" href="javascript:;" rel="10b">Reverse card 1</a>
	<a class="control control-reverse-layout reverse-layout-3<%= (reverseLayout == '10c' ? ' current' : '')%>" href="javascript:;" rel="10c">Calendar</a>
	<a class="control control-reverse-layout reverse-layout-4<%= (reverseLayout == '10d' ? ' current' : '')%>" href="javascript:;" rel="10d">One signature</a>
	<a class="control control-reverse-layout reverse-layout-5<%= (reverseLayout == '10e' ? ' current' : '')%>" href="javascript:;" rel="10e">Two signatures</a>
	<a class="control control-reverse-layout reverse-layout-6<%= (reverseLayout == '10f' ? ' current' : '')%>" href="javascript:;" rel="10f">Text and signature</a>
	<a class="control control-reverse-layout reverse-layout-7<%= (reverseLayout == '110' ? ' current' : '')%>" href="javascript:;" rel="110">Text and two signatures</a>
</div>	</script>

	<script type="text/html" id="tpl-controls-color">
		<div class="controls-current">
	Current colour: <%= card.getOptionName(color) %>
</div>
<div class="controls-color">
	<a class="control control-color card-color-white<%= (color == '000' ? ' current' : '')%>" href="javascript:;" rel="000"></a>
	<a class="control control-color card-color-tan<%= (color == '001' ? ' current' : '')%>" href="javascript:;" rel="001"></a>
	<a class="control control-color card-color-yellow<%= (color == '002' ? ' current' : '')%>" href="javascript:;" rel="002"></a>
	<a class="control control-color card-color-orange<%= (color == '003' ? ' current' : '')%>" href="javascript:;" rel="003"></a>
	<a class="control control-color card-color-red<%= (color == '004' ? ' current' : '')%>" href="javascript:;" rel="004"></a>
	<a class="control control-color card-color-lightblue<%= (color == '005' ? ' current' : '')%>" href="javascript:;" rel="005"></a>
	<a class="control control-color card-color-blue<%= (color == '006' ? ' current' : '')%>" href="javascript:;" rel="006"></a>
	<a class="control control-color card-color-darkblue<%= (color == '007' ? ' current' : '')%>" href="javascript:;" rel="007"></a>
	<a class="control control-color card-color-purple<%= (color == '008' ? ' current' : '')%>" href="javascript:;" rel="008"></a>
	<a class="control control-color card-color-cranberry<%= (color == '009' ? ' current' : '')%>" href="javascript:;" rel="009"></a>
	<a class="control control-color card-color-pink<%= (color == '00a' ? ' current' : '')%>" href="javascript:;" rel="00a"></a>
	<a class="control control-color card-color-transparent<%= (color == '00b' ? ' current' : '')%>" href="javascript:;" rel="00b"></a>
	<a class="control control-color card-color-green<%= (color == '00c' ? ' current' : '')%>" href="javascript:;" rel="00c"></a>
	<a class="control control-color card-color-darkgreen<%= (color == '00d' ? ' current' : '')%>" href="javascript:;" rel="00d"></a>
	<a class="control control-color card-color-glossblack<%= (color == '00e' ? ' current' : '')%>" href="javascript:;" rel="00e"></a>
	<a class="control control-color card-color-frosted<%= (color == '00f' ? ' current' : '')%>" href="javascript:;" rel="00f"></a>
	<a class="control control-color card-color-bronze<%= (color == '010' ? ' current' : '')%>" href="javascript:;" rel="010"></a>
	<a class="control control-color card-color-silver<%= (color == '011' ? ' current' : '')%>" href="javascript:;" rel="011"></a>
	<a class="control control-color card-color-gold<%= (color == '012' ? ' current' : '')%>" href="javascript:;" rel="012"></a>
	<a class="control control-color card-color-mattblack<%= (color == '013' ? ' current' : '')%>" href="javascript:;" rel="013"></a>
</div>	</script>

	<script type="text/html" id="tpl-controls-print">
		<div class="controls-current">
	Current print colour: <%= card.getOptionName(print) %>
</div>
<div class="controls-print">
	<a class="control control-print card-color-white<%= (print == '200' ? ' current' : '')%>" href="javascript:;" rel="200"></a>
	<a class="control control-print card-color-orange<%= (print == '201' ? ' current' : '')%>" href="javascript:;" rel="201"></a>
	<a class="control control-print card-color-yellow<%= (print == '202' ? ' current' : '')%>" href="javascript:;" rel="202"></a>
	<a class="control control-print card-color-lightgreen<%= (print == '203' ? ' current' : '')%>" href="javascript:;" rel="203"></a>
	<a class="control control-print card-color-lightblue<%= (print == '204' ? ' current' : '')%>" href="javascript:;" rel="204"></a>
	<a class="control control-print card-color-green<%= (print == '205' ? ' current' : '')%>" href="javascript:;" rel="205"></a>
	<a class="control control-print card-color-midblue<%= (print == '206' ? ' current' : '')%>" href="javascript:;" rel="206"></a>
	<a class="control control-print card-color-darkgreen<%= (print == '207' ? ' current' : '')%>" href="javascript:;" rel="207"></a>
	<a class="control control-print card-color-royalblue<%= (print == '208' ? ' current' : '')%>" href="javascript:;" rel="208"></a>
	<a class="control control-print card-color-black<%= (print == '209' ? ' current' : '')%>" href="javascript:;" rel="209"></a>
	<a class="control control-print card-color-darkblue<%= (print == '20a' ? ' current' : '')%>" href="javascript:;" rel="20a"></a>
	<a class="control control-print card-color-grey<%= (print == '20b' ? ' current' : '')%>" href="javascript:;" rel="20b"></a>
	<a class="control control-print card-color-purple<%= (print == '20c' ? ' current' : '')%>" href="javascript:;" rel="20c"></a>
	<a class="control control-print card-color-metallicmagenta<%= (print == '20d' ? ' current' : '')%>" href="javascript:;" rel="20d"></a>
	<a class="control control-print card-color-red<%= (print == '20e' ? ' current' : '')%>" href="javascript:;" rel="20e"></a>
	<a class="control control-print card-color-metalliccopper<%= (print == '20f' ? ' current' : '')%>" href="javascript:;" rel="20f"></a>
	<a class="control control-print card-color-burgundy<%= (print == '210' ? ' current' : '')%>" href="javascript:;" rel="210"></a>
	<a class="control control-print card-color-metallicsilver<%= (print == '211' ? ' current' : '')%>" href="javascript:;" rel="211"></a>
	<a class="control control-print card-color-pink<%= (print == '212' ? ' current' : '')%>" href="javascript:;" rel="212"></a>
	<a class="control control-print card-color-metallicgold<%= (print == '213' ? ' current' : '')%>" href="javascript:;" rel="213"></a>
</div>	</script>

	<script type="text/html" id="tpl-controls-reverse-print">
		<div class="controls-current">
	Current print colour: <%= card.getOptionName(reversePrint) %>
</div>
<div class="controls-print">
	<a class="control control-print card-color-white<%= (reversePrint == '214' ? ' current' : '')%>" href="javascript:;" rel="214"></a>
	<a class="control control-print card-color-orange<%= (reversePrint == '215' ? ' current' : '')%>" href="javascript:;" rel="215"></a>
	<a class="control control-print card-color-yellow<%= (reversePrint == '216' ? ' current' : '')%>" href="javascript:;" rel="216"></a>
	<a class="control control-print card-color-lightgreen<%= (reversePrint == '217' ? ' current' : '')%>" href="javascript:;" rel="217"></a>
	<a class="control control-print card-color-lightblue<%= (reversePrint == '218' ? ' current' : '')%>" href="javascript:;" rel="218"></a>
	<a class="control control-print card-color-green<%= (reversePrint == '219' ? ' current' : '')%>" href="javascript:;" rel="219"></a>
	<a class="control control-print card-color-midblue<%= (reversePrint == '21a' ? ' current' : '')%>" href="javascript:;" rel="21a"></a>
	<a class="control control-print card-color-darkgreen<%= (reversePrint == '21b' ? ' current' : '')%>" href="javascript:;" rel="21b"></a>
	<a class="control control-print card-color-royalblue<%= (reversePrint == '21c' ? ' current' : '')%>" href="javascript:;" rel="21c"></a>
	<a class="control control-print card-color-black<%= (reversePrint == '21d' ? ' current' : '')%>" href="javascript:;" rel="21d"></a>
	<a class="control control-print card-color-darkblue<%= (reversePrint == '21e' ? ' current' : '')%>" href="javascript:;" rel="21e"></a>
	<a class="control control-print card-color-grey<%= (reversePrint == '21f' ? ' current' : '')%>" href="javascript:;" rel="21f"></a>
	<a class="control control-print card-color-purple<%= (reversePrint == '220' ? ' current' : '')%>" href="javascript:;" rel="220"></a>
	<a class="control control-print card-color-metallicmagenta<%= (reversePrint == '221' ? ' current' : '')%>" href="javascript:;" rel="221"></a>
	<a class="control control-print card-color-red<%= (reversePrint == '222' ? ' current' : '')%>" href="javascript:;" rel="222"></a>
	<a class="control control-print card-color-metalliccopper<%= (reversePrint == '223' ? ' current' : '')%>" href="javascript:;" rel="223"></a>
	<a class="control control-print card-color-burgundy<%= (reversePrint == '224' ? ' current' : '')%>" href="javascript:;" rel="224"></a>
	<a class="control control-print card-color-metallicsilver<%= (reversePrint == '225' ? ' current' : '')%>" href="javascript:;" rel="225"></a>
	<a class="control control-print card-color-pink<%= (reversePrint == '226' ? ' current' : '')%>" href="javascript:;" rel="226"></a>
	<a class="control control-print card-color-metallicgold<%= (reversePrint == '227' ? ' current' : '')%>" href="javascript:;" rel="227"></a>
</div>	</script>

	<script type="text/html" id="tpl-empty">
		Empty step
	</script>

	<script type="text/html" id="tpl-step">
		<div class="wizard-header">
	<h2><%= title %></h2>
</div>
<div id="card" class="card"></div>
<div id="controls" class="controls"></div>
<div class="wizard-footer">
	<div class="legend"></div>
	<div class="navigation">
		<% _.each(navigation, function(url, title){ %>
		<a href="#wizard/<%= url %>" class="btn"><%= title %></a>
		<% });%>
	</div>
</div>	</script>

	<script src="js/wizard.min.js"></script>
</html>